<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Mintain</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" routerLink="/home"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light"  mdbWavesEffect>About us </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Contact US </a>
          </li>
          
          <!-- Dropdown -->

      </ul>
      <!-- Links --> 
           <a class="white-text" routerLink="/signin"> Sign in </a>
           <a class="white-text item" routerLink="/register"> Register </a>


<!-- Search form -->
      
      
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->